html {
    font-family: mainFont;
    color: lightgray;
    text-align: center;
}

input,
button {
    font-family: mainFont;
}

body {
    background-color: #212830;
    display: flex;
    margin: 0;
}

.secondaryBgColour {
    background-color: #151b23;
    position: relative;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}

@font-face {
    font-family: mainFont;
    src: url(../fonts/mainFont.otf);
}

p {
    width: 650px;
    padding: 12px;
    border: 1px solid cornflowerblue;
    border-radius: 6px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.textBox {
    margin-top: 15px;
    margin-bottom: 15px;
    outline: none;
    border: 3px solid #555;
    transition: 0.5s;
    padding: 8px;
    color: darkgray;
    background-color: #212830;

}

input[type=text]:focus {
    border: 3px solid #ccc
}

input[type=color] {
    width: 200px;
    border: 3px solid cornflowerblue;
    margin-bottom: 15px;
    margin-top: 15px;
}

::-webkit-input-placeholder {
    font-style: italic;
}

::-moz-placeholder {
    font-style: italic;
}

:-ms-input-placeholder {
    font-style: italic;
}

button {
    text-align: center;
    border: 2px solid cornflowerblue;
    border-radius: 7px;
    background-color: #151b23;
    color: lightgray;
    transition-duration: 0.3s;
    cursor: pointer;
    float: inline-start;
    padding: 15px;
    width: 250px;

}

button:hover {
    background-color: cornflowerblue;
    color: white;
}

.tableInput {
    background-color: #151b23;
    color: lightgrey;
    border: none;
    padding: 12px;
    text-align: center;
}