@font-face {
font-family: mainFont;
src: url(../fonts/mainFont.otf);
}

body {
    background-color: #2e2e4d;
}

h1{
    text-align: center;
    color: azure;
    font-family: mainFont;
    text-shadow: 4px 4px black;
}

img {
    box-shadow: black 10px 10px;
    position: relative;
    left: 20px;
}

p {
    text-align: left;
    color: azure;
    font-family: mainFont;
    text-shadow: 4px 4px black;
}